# Dependency directories
node_modules
npm-debug.log
yarn-error.log

# Build output
build
dist

# Testing
coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.gitignore

# Editor directories
.idea
.vscode
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporary files
tmp
temp